
body {
 /* 使用线性渐变创建星空背景 */
 background: linear-gradient(to top, #00001b, #01013b);
 height: 1000px; /* 确保背景覆盖整个视口高度 */
 overflow-y: hidden;
 overflow-x: hidden;
}

.title{
  position: absolute;
  top:270px;
  right:157px;
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px; /* 在線狀態的字體大小 */
}

.text{
  position: absolute;
  top:288px;
  right:290px;
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px; /* 在線狀態的字體大小 */
}
#map {
  margin:40px 400px;
}

#County_yearSelect{
  position: absolute;
  background-color: #fce029;
  text-align: center;
  border-radius: 10%;
  width: 100px;
  height: 35px;
  font-size: 25px;
  top:305px;
  right:180px;
}

#Town_yearSelect{
  position: absolute;
  background-color: #fce029;
  text-align: center;
  border-radius: 10%;
  width: 100px;
  height: 35px;
  font-size: 25px;
  top:305px;
  right:180px;
}
.counties {
  fill:#33474e;
}
.counties :hover {
  fill: #7f9ca7;
  transition: 0.5s;
}
.county-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
}

.content{
  position: absolute;
  background:	#A8DADC;
  border-radius: 10%;
  height:350px;
  width:280px;
  right:100px;top:370px;
}

.btn,
.btn:focus {
    position: absolute;
    font-size: 40px;
    top:730px;
    right:120px;
    min-width: 200px;
    border: none;
    border-radius: 4px;
    background-color: #16a085;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition-duration: 0.4s;
    padding: 10px 20px;
    box-shadow: 0 5px 15px #193047;
}
.btn:hover {
    background: #ffffff;
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000000;
}
.btn:after {
    content: "";
    display: block;
    position: absolute;
    background: #1abc9c;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
/* SVG 
    svg rect {
        fill: lightgray;
    }

    svg text {
        fill:white;
        font: 10px sans-serif;
        text-anchor: end; //將 x 位置設定靠齊 bar 的最右方
      }
*/